* { 
box-sizing: border-box;
}
body {
    background-color: rgb(10, 10, 10);
    margin: 0;
}
img {
    filter: brightness(90%);
}
img:hover {
-webkit-filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
  filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
  transform: scale(1.1);
}
.top {
    background-color:rgb(19, 19, 19);
    color: rgb(241, 241, 241);
    display: grid;
    grid-template-columns: 87vw  3vw 3vw 3vw;
    align-items: center;
    padding: 0 0 0 2vw;
    position: absolute;
    width: 100%;
}
#shelve {
    display: grid;
    justify-content: center;
    gap: .5rem;
    padding-top: 6rem;
    grid-template-columns: repeat(auto-fill, 20rem);
    grid-auto-rows: 20rem;
}
#shelve > div {
    background-color: rgb(133, 92, 92);
    border: .25rem solid black;
    border-radius: .5rem;
    color: #f0f0f0;
}
#shelve > div > div {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
}
#shelve p {
    background-color: rgb(80, 80, 255);
    margin-left: 0.8rem;
    width: 3rem;
    height: 1.5rem;
    border-radius: 5px;
    text-align: center;
    line-height: 24px;
}
.pages-active {
    background-color: rgb(57, 170, 22) !important;
}
#shelve p:hover {
    filter: brightness(125%);
    transform: scale(1.1);
}
#shelve p:active {
    filter: brightness(150%);
}
#shelve h1 {
    text-align: center;
}
#shelve h2 {
    text-align: center;
}
#shelve h3 {
    text-align: center;
}
#form-popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(241, 241, 241);
    background-color:rgb(41, 41, 41);
    height: 40rem;
    width: 40rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: 200ms ease-in-out;
    border: 4px solid black;
    z-index: 10;
}
#form-popup.hidden {
    transform: translate(-50%, -50%) scale(0);
}
label, input {
    display: block;
}
#submit {
    background: green;
    color: rgb(241, 241, 241);
    width: 50%;
    text-align: center;
    border-radius: 4px;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9;
}
.hidden {
    visibility: hidden;
}